---
import svgPinkStar from '../assets/pink-star.svg'
import Button from './Button.astro'
import { buy } from '../sample'

---


<section class="px-3" id="hire">
    <div class="max-w-3xl mx-auto themed-card text-center flex flex-col gap-4 border-3 themed-border relative p-10" style="box-shadow: 8px 8px 0px var(--shadow-color);">
     <h1 class="text-3xl" style="color: var(--text-color);">Let's bring your ideas to life</h1>
     <p class="text-lg max-w-lg mx-auto" style="color: var(--text-muted);">Interested in motion graphics, illustration, or animation? Let's chat!</p>
     <div class="flex justify-center">
       <Button text={buy.title} link={buy.link} target="_blank" />
     </div>
     <img src={svgPinkStar.src} alt="svg" width="80" class="absolute -top-10 right-20 themed-svg" />
    </div>
  </section>