---
const mytools = [
  'After Effects', 'Illustrator', 'Ibis Paint', 'Blender', 'Photoshop', 'Premiere Pro', 'Canva'
]
--- 
<script>
import { gsap } from 'gsap';

document.addEventListener('DOMContentLoaded', function () {
    const clonedContainer = document.querySelector('#cloned') as any

    Array.from(clonedContainer.children).forEach((img: any) => {
        const clone = img.cloneNode(true); 
        clonedContainer.appendChild(clone); 
    })

    const tl = gsap.timeline({ repeat: -1 });
    tl.to(clonedContainer, {
        x: -(clonedContainer.scrollWidth / 2),  duration: 30, ease: 'none'
    })
});
</script>
  


<section class="py-6 relative z-5" style="background-color: var(--tools-bg);">
    <div class="overflow-hidden">
        <div class="flex items-center gap-10 md:gap-30" id="cloned">
            {mytools.map(item => (
              <div class="flex-1 text-2xl whitespace-nowrap" style="color: var(--tools-text);"> {item} </div>
            ))}
        </div>
    </div>
</section>
